.container-login {
    width: 50%;
    margin: 0 auto;
    font-family: 'Graduate', sans-serif;
    color: rgb(207, 207, 207);
}

.form-control {
    margin: 10px;
    width: 40%;
}

input {
    color: white;
}

.register {
    color: #e3ba4a;
}

.login {
    background-color: #e3ba4a;
    color: black;
}